// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post{
 width : 40%;
 margin: 20px auto;
}

.image{
 max-width: 80%;
 height:auto;
}
